.DS_Store
/data/*
!/data/.gitkeep
.idea
*.sqlite
*-checkpoint.ipynb
project/~$ta-report.docx
project/census_variable_mappings.csv
project/data-report.docx
*.tmp
project/data-report_copy.docx
*.pyc
*.pyc
project/*.csv
visuals/
project/analysis-report.docx

